.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  max-width: 416px;
  margin: auto;
}

.text-body-secondary {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  
}

img {
  width: 150px;
}

